.introducao{
  display: grid;
  max-width: 1200px;
  margin: 0px auto;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  align-items: center;
}
.introducao h1{
  position: relative;
  font-size: 4.5rem;
  line-height: 1.125;
}
.introducao h1::before{
  content: "";
  display: block;
  position: absolute;
  background: url(./img/detalhe.svg) no-repeat center;
  width: 130px;
  height: 100px;
  z-index: -1;
  top: -12px;
  left: -40px;
}
.introducao p{
  font-size: 1.5rem;
  margin-top: 20px;
}
.introducao img{
  display: block;
  object-fit: cover;
  height: 100%;
}
@media(max-width:800px){
  .introducao h1{
    font-size: 2rem;
  }
}
@media(max-width:500px){
  .introducao img{
    display: none;}
}
@media(max-width:800px){
  .introducao h1::before{
    content: "";
    height: 10px;
    width: 30px;
    left: 0px;
  }
}
